<form id="login" action="/session" method="POST">
          <div class="inputs">
            <label for="username">
                Username:
                <input name="username">
            </label>
          </div>
          <div class="inputs">
            <label for = "password">
                Password:
                <input name="password" type="password">
            </label>
          </div>
            <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

            <button>Login</button>
        </form>
